<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="https://www.thehackingproject.org/" target="_blank"><%= image_tag "logo-hacking-project.png", class:"logo-thp"%></a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/thehackingproject/" target="_blank"><%= image_tag "logo-fb.png", class:"logo"%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/school/the_hacking_project/" target="_blank"><%= image_tag "logo-linkedin", class:"logo"%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/the_hacking_project/"><%= image_tag "logo-insta.png", class:"logo"%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="  https://twitter.com/the_hacking_pro?lang=fr"><%= image_tag "logo-twitter.png", class:"logo"%></a>
        </li>
          <a class="button" href="https://www.thehackingproject.org/" target="_blank">Accéder au site THP</a>
      </ul>
    </div>
  </div>
</nav>



<!-- Page Content -->
<section class="container">
  <!-- Introduction Row -->
  <h1 class="my-4"><small>Apprendre à coder en communauté</small></h1>

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <%= image_tag "mouss.jpg", class:"rounded-circle img-fluid d-block mx-auto"%>
      <h5>Mustapha A - 20 ans </h5>
      <p>Je cherchais une formation qui pouvait me permettre d’aborder le monde informatique. THP s est présenté comme LA solution.  </p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <%= image_tag "anais.jpg", class:"rounded-circle img-fluid d-block mx-auto"%>
      <h5>Anais D - 28 ans
      </h5>
      <p>
        J’ai réussi à mieux me vendre sur le marché du travail avec les nouvelles compétences acquises grâce à The Hacking Project.
      </p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <%= image_tag "vir.jpg", class:"rounded-circle img-fluid d-block mx-auto"%>
      <h5>Virginie V -40 ans </h5>
      <p>Je cherchais à me reconvertir et créer  une start-up .J’ai pu construire mon site et développer mon idée de A à Z grâce à THP</p>
    </div>
  </div>
</section>
<!-- /.container -->
<!-- Newsletter -->
<section class="home-newsletter">
  <div class="container">
    <div class="col-sm-12">
      <div class="single">
        <h2>Inscrivez-vous vite à notre newsletter</h2>
        <p>Découvrez notre actualité, les avantages de notre communauté et le programme proposé !</p>
        <form action="/home/mairie" method="post">
          <div class="input-group">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="email" class="form-control" placeholder="Entrez votre email">
            <span class="input-group-btn">
              <button class="btn btn-theme" type="submit">Recevoir la newsletter</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; THP Lille</p>
  </div>
  <!-- /.container -->
</footer>
