<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="https://www.thehackingproject.org/" target="_blank"><%= image_tag "logo-hacking-project.png", class:"logo-thp"%></a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/thehackingproject/" target="_blank"><%= image_tag "logo-fb.png", class:"logo"%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/school/the_hacking_project/" target="_blank"><%= image_tag "logo-linkedin", class:"logo"%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/the_hacking_project/"><%= image_tag "logo-insta.png", class:"logo"%></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="  https://twitter.com/the_hacking_pro?lang=fr"><%= image_tag "logo-twitter.png", class:"logo"%></a>
        </li>
          <a class="button" href="https://www.thehackingproject.org/" target="_blank">Accéder au site THP</a>
      </ul>
    </div>
  </div>
</nav>



<!-- Page Content -->
<section class="container">
  <!-- Introduction Row -->
  <h1 class="my-4"><small>Apprends à coder en communauté</small></h1>

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-sm-5 col-md-3">
    </div>
    <div class="col-md-m5">
    	<object type="application/x-shockwave-flash" data="https://www.youtube.com/v/NbZ0KD2Jcr0" style="width:500px; height:350px;">
    		<param name="movie" value="https://www.youtube.com/v/NbZ0KD2Jcr0" />
    		<param name="allowFullScreen" value="true" />
    		<param name="allowScriptAccess" value="always" />
    		<param name="wmode" value="transparent" />
    	</object>

      </div>
    </div>
</section>
<!-- /.container -->
<!-- Newsletter -->
<section class="home-newsletter">
  <div class="container">
    <div class="col-sm-12">
      <div class="single">
        <h2>Inscris-toi vite à notre newsletter</h2>
        <p>Découvre les prochaines sessions, notre actualité et rejoins notre communauté !</p>
        <form action="/home/video" method="post">
          <div class="input-group">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input id='email-field' type="email" class="form-control" placeholder="Entre ton email">
            <span class="input-group-btn">
              <button class="btn btn-theme" type="submit">Recevoir la newsletter</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; THP Lille</p>
  </div>
  <!-- /.container -->
</footer>
