<!DOCTYPE html>
<html>
  <head>
    <title>Growth Hacking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Présentation de l'organisme The Hacking Project, certifié Grande Ecole du Numérique par l'Etat français." />
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <%= favicon_link_tag "favicon.ico" %>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/round-about.css" rel="stylesheet">
  </head>

  <body>
    <% flash.each do |type, msg| %>
    <%= content_tag(:div,msg,class:"alert alert-#{type}") %>
    <% end %>
    <%= yield %>
  </body>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>
